* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

ul {
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: purple;
    list-style: none;
    align-items: center;
}

li {
    background-color: aqua;
    height: 30px;
    width: 100px;
    margin-left: 20px;
}

.row {
    display: flex;
    height: 100%;
    
}

.right {
    background-color: green;
    flex: 1;
}

.left {
    background-color: yellow;
    flex: 2;
}